/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.d-flex {
  display: flex;
}

.justify-content {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.f-col {
  flex-direction: column;
}

.nav {
  justify-content: space-between;
  width: 98vw;
  height: 10vh;
  background-color: blue;
  box-shadow: 0 4px 3px grey;
  top: 0;
  left: 0;
}

.class-header {
  width: 40%;
}

.link-cont {
  width: 40%;
  justify-content: flex-end;
  column-gap: 15px;
}

.nav-links {
  column-gap: 15px;
}

.link-cont button {
  padding: 5px;
  border: none;
  outline: none;
  background-color: transparent;
}

.link-cont button:hover {
  cursor: pointer;
 }
